<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcorey.mapper.QuartzLogMapper" >
  <resultMap id="BaseResultMap" type="com.itcorey.pojo.QuartzLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="quartz_id" property="quartzId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, quartz_id, start_time, time, result, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cl_quartz_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cl_quartz_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.itcorey.pojo.QuartzLog" >
    insert into cl_quartz_log (id, quartz_id, start_time, 
      time, result, remark
      )
    values (#{id,jdbcType=BIGINT}, #{quartzId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{time,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itcorey.pojo.QuartzLog" >
    insert into cl_quartz_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="quartzId != null" >
        quartz_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="quartzId != null" >
        #{quartzId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcorey.pojo.QuartzLog" >
    update cl_quartz_log
    <set >
      <if test="quartzId != null" >
        quartz_id = #{quartzId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcorey.pojo.QuartzLog" >
    update cl_quartz_log
    set quartz_id = #{quartzId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      time = #{time,jdbcType=INTEGER},
      result = #{result,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>